<div class="form-group">
    {% if app.request.locale == 'fr' %}
        <div class="row">
            <div class="col-sm-12">
                <label for="form_aliasFr">{% trans %}Alias.french{% endtrans %}</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">https://www.quizdelaroute.be/quiz/</span>
                    </div>
                    {{ form_widget(form.aliasFr) }}
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-copy-url" type="button">Copier l'URL</button>
                    </div>
                </div>
                {{ form_errors(form.aliasFr) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label for="form_aliasNl">{% trans %}Alias.dutch{% endtrans %}</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">https://www.degroteverkeersquiz.be/quiz/</span>
                    </div>
                    {{ form_widget(form.aliasNl) }}
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-copy-url" type="button">Copier l'URL</button>
                    </div>
                </div>
                {{ form_errors(form.aliasNl) }}
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-sm-12">
                <label for="form_aliasNl">{% trans %}Alias.dutch{% endtrans %}</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">https://www.degroteverkeersquiz.be/quiz/</span>
                    </div>
                    {{ form_widget(form.aliasNl) }}
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-copy-url" type="button">Kopieer URL</button>
                    </div>
                </div>
                {{ form_errors(form.aliasNl) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label for="form_aliasFr">{% trans %}Alias.french{% endtrans %}</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">https://www.quizdelaroute.be/quiz/</span>
                    </div>
                    {{ form_widget(form.aliasFr) }}
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-copy-url" type="button">Kopieer URL</button>
                    </div>
                </div>
                {{ form_errors(form.aliasFr) }}
            </div>
        </div>
    {% endif %}
</div>
<small id="form_alias_info" class="form-text text-muted mt-3">{% trans %}Field.alias.info{% endtrans %}</small>
</div>
