{% extends 'admin_index_base.html.twig' %}

{% block title %}{% trans %}Bedrijven{% endtrans %}{% endblock %}

{% block content %}

    <table class="table"
           data-toggle="table"
           data-search="true"
           data-page-size=5
           data-pagination="true"
           data-page-list="[5, 10, 25, 50]">
        <thead>
            <tr>
                <th data-sortable="true">{% trans %}Id{% endtrans %}</th>
                <th data-sortable="true">{% trans %}Naam{% endtrans %}</th>
                <th data-sortable="true">{% trans %}# Medewerkers{% endtrans %}</th>
                <th data-sortable="true">{% trans %}Alias NL{% endtrans %}</th>
                <th data-sortable="true">{% trans %}Alias FR{% endtrans %}</th>
                <th data-sortable="true">{% trans %}E-mail{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}
                <tr>
                    <td>
                        {{ company.id.toString }}
                    </td>
                    <td>
                        {{ company.name.toNative}}
                    </td>
                    <td>
                        {{ company.numberOfEmployees.toNative}}
                    </td>
                    <td>
                        {{ company.translatedAliases | getAliasByLanguage('nl') }}
                    </td>
                    <td>
                        {{ company.translatedAliases | getAliasByLanguage('fr') }}
                    </td>
                    <td>
                        {{ company.user.email.toNative}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
