{% extends 'anonymous_base.html.twig' %}

{% block title %}{% trans %}Password.request.title{% endtrans %}{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <div class="card-title">{% trans %}Password.request.title{% endtrans %}</div>
        </div>

        <div class="card-body">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="form-group">
                <label for="form_email">{% trans %}Email{% endtrans %}</label>
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>

            <div class="form-group azijnpotje">
                <label for="form_azijnpotje">Azijnpotje</label>
                {{ form_widget(form.azijnpotje) }}
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">{% trans %}Password.request.submit{% endtrans %}</button>
            </div>
            {{ form_end(form) }}
        </div>

        <div class="card-footer">
            <div class="card-subtitle">{% trans %}Password.request.footer{% endtrans %}</div>
        </div>
    </div>

{% endblock %}
