{% extends 'contest/contest_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/quiz.css') }}" rel="stylesheet"/>

{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div id="gvq-quiz">

            {% include '/includes/flash.html.twig' %}

            <div class="show-result card">
                <div class="gvq-question-counter card-header text-center">
                    <h2><span>{% trans %}Score{% endtrans %}</span></h2>
                </div>
                <div class="card-body text-center">
                <span class="gvq-score mb-4">
                    <span class="right-answers">{{ score }}</span>/<span class="total-questions">{{ totalQuestions }}</span>
                </span>
                </div>
            </div>

            <h2 class="m-4">{% trans %}Contest.title{% endtrans %}</h2>

            {{ form_start(form, {'attr': {'novalidate': 'novalidate','class': 'form-register m-4'}}) }}

            {{ form_errors(form) }}

            <h3>{% trans %}Contest.details{% endtrans %}</h3>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="form_firstName">{% trans %}FirstName{% endtrans %}</label>
                        {{ form_widget(form.firstName) }}
                        {{ form_errors(form.firstName) }}
                    </div>
                    <div class="col-sm-6">
                        <label for="form_lastName">{% trans %}LastName{% endtrans %}</label>
                        {{ form_widget(form.lastName) }}
                        {{ form_errors(form.lastName) }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_widget(form.confirm18years) }}
                    </div>
                </div>
            </div>

            <h3 class="mt-4 pt-4 border-top">{% trans %}Contest.questions{% endtrans %}</h3>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        <label for="form_answer1">{{ tieBreaker1.question.toNative }}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_widget(form.answer1) }}
                        {{ form_errors(form.answer1) }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        <label for="form_answer2">{{ tieBreaker2.question.toNative }}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_widget(form.answer2) }}
                        {{ form_errors(form.answer2) }}
                    </div>
                </div>
            </div>

            <div class="form-group mt-4 pt-4 border-top small">
                <div class="row">
                    <div class="col-sm-12">
                        {{ form_widget(form.gdpr1) }}
                        <a href="{{ privacy_pdf }}" target="_blank" class="ml-4">{% trans %}To.privacy.policy{% endtrans %}</a>
                    </div>
                </div>
            </div>

            <div class="form-group small">
                <div class="row">
                    <div class="col-sm-12">
                        {{ form_widget(form.gdpr2) }}
                    </div>
                </div>
            </div>

            {% if app.request.locale == 'nl' %}
            <div class="form-group small">
                <div class="row">
                    <div class="col-sm-12">
                        {{ form_widget(form.association) }}
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="form-group">
                <button type="submit" class="btn btn-primary">{% trans %}Contest.submit{% endtrans %}</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
