{% extends 'base_mail.html.twig' %}

{% block content %}
    <p>Beste quizverantwoordelijke</p>
    <p>
        Bedankt voor je interesse in De Grote Verkeersquiz! Met dit mailtje maken we je even wegwijs voor de verdere opvolging.<br/>
        Als je inlogt op <a href="{{ loginUrl }}">{{ loginUrl }}</a>, vind je via <a href="{{ documentUrl }}">{{ documentUrl }}</a> een korte briefing. Daarin staat alles wat je moet weten, net als een voorsteltekstje voor de interne promotie.<br/>
    </p>
    <p><strong>LET OP: dit jaar gebeurt de registratie van je collega’s een beetje anders. Neem dus zeker de briefing even door, ook als je de quiz al goed kent.</strong></p>
    <p>
        Op <a href="{{ documentsUrl }}">{{ documentsUrl }}</a> vind je banners in verschillende formaten en een personaliseerbare flyer. Vervang gewoon even het stukje ‘jouw bedrijf’ aan het einde van de url door het laatste stukje van jullie bedrijfsurl en je hebt een op maat gemaakte flyer.<br/>
        In je account vind je ook je unieke bedrijfsurls. Je kiest zelf welke url(s) je doorgeeft aan je collega’s. Als jullie bijvoorbeeld geen Franstalige quizzers hebben, mogen jullie die link gewoon negeren.
    </p>

    <p>Heb je nog een vraag? Laat dan gerust iets weten via groteverkeersquiz@vsv.be.</p>

    <p>Vriendelijke groeten en veel quizplezier</p>

    <p>Het Grote Verkeersquiz-team</p>
{% endblock %}
