{% extends 'authenticated_base.html.twig' %}

{% block title %}{% trans %}Statistics{% endtrans %}{% endblock %}

{% block content %}

    {% include '/includes/flash.html.twig' %}

    <h1 class="page-title">{% trans %}Statistics{% endtrans %}</h1>

    <h3>{% trans %}Statistics.title.general{% endtrans %}</h3>

    <table class="table table-bordered small">
        <thead class="thead-dark thead-primary text-center">
        <tr>
            <td class="border-0"></td>
            <th scope="col" colspan="3"
                class="border-right border-bottom">{% trans %}Statistics.header.individual{% endtrans %}</th>
            <th scope="col" colspan="3" class="border-right border-bottom">{% trans %}Statistics.header.company{% endtrans %}</th>
            <th scope="col" colspan="3" class="border-right border-bottom">{% trans %}Statistics.header.partner{% endtrans %}</th>
            <th scope="col" colspan="3"
                class="border-right border-bottom">{% trans %}Statistics.header.quiz.total{% endtrans %}</th>
            <th scope="col" colspan="3" class="border-right border-bottom">{% trans %}Statistics.header.cup{% endtrans %}</th>
            <th scope="col" colspan="3" class="border-right border-bottom">{% trans %}Statistics.header.total{% endtrans %}</th>
        </tr>
        <tr>
            <td class="border-0"></td>
            {% for i in range(1,6) %}
                <th>{% trans %}Statistics.subheader.NL{% endtrans %}</th>
                <th>{% trans %}Statistics.subheader.FR{% endtrans %}</th>
                <th class="border-right">{% trans %}Statistics.subheader.Total{% endtrans %}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr class="text-right">
            <th class="fit" scope="row" data-toggle="tooltip" title="{% trans %}Statistics.info.started{% endtrans %}">
                {% trans %}Statistics.row.started{% endtrans %}</th>
            {% include '/statistics/includes/statistics_row.html.twig' with {'counts': startedCounts} %}
        </tr>
        <tr class="text-right">
            <th class="fit" scope="row" data-toggle="tooltip" title="{% trans %}Statistics.info.finished{% endtrans %}">
                {% trans %}Statistics.row.finished{% endtrans %}</th>
            {% include '/statistics/includes/statistics_row.html.twig' with {'counts': finishedCounts} %}
        </tr>
        <tr class="text-right">
            <th class="fit" scope="row" data-toggle="tooltip" title="{% trans %}Statistics.info.unique{% endtrans %}">
                {% trans %}Statistics.row.unique{% endtrans %}</th>
            {% include '/statistics/includes/statistics_row.html.twig' with {'counts': uniqueParticipantCounts} %}
        </tr>
        <tr class="text-right">
            <th class="fit" scope="row" data-toggle="tooltip" title="{% trans %}Statistics.info.passed{% endtrans %}">
                {% trans %}Statistics.row.passed{% endtrans %}</th>
            {% include '/statistics/includes/statistics_row.html.twig' with {'counts': passedUniqueParticipantCounts} %}
        </tr>
        <tr class="text-right">
            <th class="fit" scope="row" data-toggle="tooltip" title="{% trans %}Statistics.info.percentage{% endtrans %}">
                {% trans %}Statistics.row.percentage{% endtrans %}</th>
            {% include '/statistics/includes/statistics_row.html.twig' with {'counts': passedUniqueParticipantPercentage} %}
        </tr>
        <tr class="text-right">
            <th class="fit" scope="row" data-toggle="tooltip" title="{% trans %}Statistics.info.topscore{% endtrans %}">
                {% trans %}Statistics.row.topscore{% endtrans %}</th>
            {% include '/statistics/includes/statistics_row.html.twig' with {'counts': detailedTopScoreAverages} %}
        </tr>
        </tbody>
    </table>

    <h3>{% trans %}Statistics.title.partner{% endtrans %}</h3>

    <table class="table table-non-fluid table-bordered small">
        <thead class="thead-dark thead-primary text-center">
        <tr>
            <td class="border-0"></td>
            <th scope="col" class="border-right">{% trans %}Statistics.subheader.NL{% endtrans %}</th>
            <th scope="col" class="border-right">{% trans %}Statistics.subheader.FR{% endtrans %}</th>
            <th scope="col">{% trans %}Statistics.subheader.Total{% endtrans %}</th>

        </tr>
        </thead>
        <tbody>
        {% for partnerName, partnerCounts in partnersCounts %}
            <tr class="text-right">
                <th class="fit" scope="row" data-toggle="tooltip" title="{% trans %}Statistics.info.partners.unique{% endtrans %}">
                    {{ partnerName }}
                </th>
                <td>{{ partnerCounts.nl }}</td>
                <td>{{ partnerCounts.fr }}</td>
                <td>{{ partnerCounts.total }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>{% trans %}Statistics.title.contest{% endtrans %}</h3>

    <a role="button"
       class="btn btn-primary"
       href="{{ path('contest_export') }}" ><span class="oi oi-data-transfer-download"></span>
        {% trans %}Button.export{% endtrans %}
    </a>


    <h3 class="mt-3">{% trans %}Statistics.title.topCompanies{% endtrans %}</h3>

    <a role="button"
       class="btn btn-primary"
       href="{{ path('statistics_export_top_companies') }}" ><span class="oi oi-data-transfer-download"></span>
        {% trans %}Button.export{% endtrans %}
    </a>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $("body").tooltip({ selector: '[data-toggle=tooltip]' });
        });
    </script>
{% endblock %}
