<!-- Witte balk -->
<div class="footer-partners">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm">
                <a href="http://www.vlaanderen.be" target="_blank"><img
                        src="{{ asset('images/logos/vlaanderen.jpg') }}" alt="Vlaanderen"></a>
            </div>
            <div class="col-sm">
                <a href="http://www.vsv.be" target="_blank"><img src="{{ asset('images/logos/gvq_vsv_logo.svg') }}"
                                                                 alt="VSV (Vlaamse Stichting Verkeerskunde)"></a>
            </div>
        </div>
    </div>
</div>

<!-- Blauwe balk -->
<div class="footer-sponsors">
    <div class="container-fluid">
        <p>Partners:</p>
        <div class="row align-items-center">
            <div class="col-sm">
            <!-- axa -->
            <a href="https://www.axa.be" target="_blank" style="margin-right: 20px"><img
                        src="{{ asset('images/logos/axa.png') }}" alt="AXA"></a>
            <!-- metro -->
            <a href="https://metrotime.be/" target="_blank" style="margin-right: 20px"><img
                        src="{{ asset('images/logos/metro.png') }}" alt="metro"></a>
            <!-- nieuwsblad -->
                <a href="https://www.nieuwsblad.be" target="_blank" style="margin-right: 20px"><img
                            src="{{ asset('images/logos/nieuwsblad.png') }}" alt="Nieuwsblad"></a>
            <!-- fiets -->
                <a href="https://www.fiets.be" target="_blank" style="margin-right: 20px"><img
                            src="{{ asset('images/logos/fiets.svg') }}" alt="Fiets"></a>

            <!-- touring -->
                <a href="https://www.touring.be" target="_blank" style="margin-right: 20px"><img
                            src="{{ asset('images/logos/touring.png') }}" alt="Touring"></a>

            </div>
        </div>
    </div>
</div>

<!-- Witte onderste -->
<footer role="contentinfo" class="page-footer">
    <div class="container-fluid">
        <small>Website made by <a href="https://www.2dotstwice.be" target="_blank">2dotstwice</a></small>
    </div>
</footer>
