<td>{{ counts['individual_nl'] }}</td>
<td>{{ counts['individual_fr'] }}</td>
<td>{{ counts['individual_nl'] + counts['individual_fr'] }}</td>

<td>{{ counts['company_nl'] }}</td>
<td>{{ counts['company_fr'] }}</td>
<td>{{ counts['company_nl'] + counts['company_fr'] }}</td>

<td>{{ counts['partner_nl'] }}</td>
<td>{{ counts['partner_fr'] }}</td>
<td>{{ counts['partner_nl'] + counts['partner_fr'] }}</td>

<td>{{ counts['cup_nl'] }}</td>
<td>{{ counts['cup_fr'] }}</td>
<td>{{ counts['cup_nl'] + counts['cup_fr'] }}</td>

<td>{{ counts['total_nl'] }}</td>
<td>{{ counts['total_fr'] }}</td>
<td>{{ counts['total_nl'] + counts['total_fr'] }}</td>
