{% extends 'admin_base.html.twig' %}

{% block title %}VRAGEN{% endblock %}

{% block content %}

    {{ form_start(form) }}
        <div class="form-group">
            <div class="row">
                <div class="col-sm-3">
                    <label for="question_form_language">Taal</label>
                    {{ form_row(form.language, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="col-sm-3">
                    <label for="question_form_year">Jaar</label>
                    {{ form_row(form.year, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="col-sm-6">
                    <label for="question_form_category">Thema</label>
                    {{ form_row(form.category, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>

        {% if form.image is defined %}
            <div class="form-group">
                <label for="question_form_image">Foto</label>
                {{ form_row(form.image, {'attr': {'class': 'form-control-file'}}) }}
            </div>
        {% endif %}

        <div class="form-group">
            <label for="question_form_text">Vraag</label>
            {{ form_row(form.text, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            <label for="question_form_answer1">Antwoord 1</label>
            {{ form_row(form.answer1, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            <label for="question_form_answer2">Antwoord 2</label>
            {{ form_row(form.answer2, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            <label for="question_form_answer3">Antwoord 3</label>
            {{ form_row(form.answer3, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            <label for="question_form_feedback">Feedback</label>
            {{ form_row(form.feedback, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            <label for="question_form_correctAnswer">Het correct antwoord is</label>
            {{ form_row(form.correctAnswer, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            <a role="button"
               class="btn btn-secondary"
               href="{{ path('questions_view_index') }}">
                Annuleren
            </a>
            <button type="submit" class="btn btn-primary">Bewaar</button>
        </div>
    {{ form_end(form) }}

{% endblock %}
