{% extends 'admin_index_base.html.twig' %}

{% block title %}{% trans %}Vragen{% endtrans %}{% endblock %}

{% block content %}

    <form method="get"
          action="{{ path('questions_view_print') }}"
          target="_blank">
        <div class="form-group">
            <a role="button"
               class="btn btn-light"
               href="{{ path('questions_view_add') }}" ><span class="oi oi-plus"></span>
                {% trans %}Toevoegen{% endtrans %}
            </a>

            <button type="submit"
                    class="btn btn-light">
                <span class="oi oi-print"></span>
                {% trans %}Afdrukken{% endtrans %}
            </button>

            <div class="form-check form-check-inline">
                <input id="print_nl"
                       name="print_nl"
                       type="checkbox"
                       class="form-check-input"
                       checked>
                <label class="form-check-label"
                       for="print_nl">{% trans %}Vragen in NL{% endtrans %}</label>
            </div>
            <div class="form-check form-check-inline">
                <input id="print_fr"
                       name="print_fr"
                       type="checkbox"
                       class="form-check-input"
                       checked>
                <label class="form-check-label"
                       for="print_fr">{% trans %}Vragen in FR{% endtrans %}</label>
            </div>
        </div>
    </form>

    <table class="table"
           data-toggle="table"
           data-search="true"
           data-page-size=5
           data-pagination="true"
           data-page-list="[5, 10, 25, 50]">
        <thead>
            <tr>
                <th data-searchable="false">{% trans %}Foto{% endtrans %}</th>
                <th data-sortable="true">{% trans %}Vraag{% endtrans %}</th>
                <th data-sortable="true">{% trans %}Jaar{% endtrans %}</th>
                <th data-sortable="true">{% trans %}Taal{% endtrans %}</th>
                <th data-sortable="true">{% trans %}Thema{% endtrans %}</th>
                <th data-sortable="true">{% trans %}CreatedOn{% endtrans %}</th>
                <th data-searchable="false">{% trans %}Acties{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
                <tr>
                    <td>
                        <img src="{{ '/uploads/' ~ question.imageFileName.toNative }}"
                             width="200">
                    </td>
                    <td>
                        <strong>{{ question.text.toNative }}</strong>
                        <ul>
                            {% for answer in question.answers.toArray %}
                                <li class="{{ answer.correct ? 'text-success' : '' }}">
                                    {{ answer.text.toNative }}
                                </li>
                            {% endfor %}
                        </ul>
                        <p>{{ question.feedback.toNative }}</p>
                        <h5><span class="badge badge-secondary">{{ question.id.toString }}</span></h5>
                    </td>
                    <td>
                        {{ question.year.toNative }}
                    </td>
                    <td>
                        {{ question.language.toNative }}
                    </td>
                    <td>
                        {{ question.category.name.toNative }}
                    </td>
                    <td>
                        {{ question.createdOn|date('d-m-Y H:i:s', 'Europe/Brussels') }}
                    </td>
                    <td>
                        <a role="button"
                           class="btn btn-light"
                           href="{{ path('questions_view_edit', {'id': question.id.toString}) }}" >
                            <span class="oi oi-pencil"></span>{% trans %}Aanpassen{% endtrans %}
                        </a>
                        <a role="button"
                           class="btn btn-light"
                           href="{{ path('questions_view_delete', {'id': question.id.toString}) }}">
                            <span class="oi oi-trash"></span>{% trans %}Verwijderen{% endtrans %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
