{% extends 'admin_base.html.twig' %}

{% block title %}VRAGEN{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/dataTables.bootstrap4.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}

    <a role="button"
       class="btn btn-light"
       href="{{ path('questions_view_add') }}" ><span class="oi oi-plus"></span>Toevoegen
    </a>

    <a role="button"
       class="btn btn-light"
       href="#" ><span class="oi oi-print"></span>Afdrukken
    </a>

    <table id="questions"
           class="table ">
        <thead>
            <tr>
                <th>Foto</th>
                <th>Vraag</th>
                <th>Jaar</th>
                <th>Taal</th>
                <th>Thema</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
                <tr>
                    <td>
                        <img src="{{ '/uploads/' ~ question.imageFileName.toNative }}"
                             width="200">
                    </td>
                    <td>
                        <strong>{{ question.text.toNative }}</strong>
                        <ul>
                            {% for answer in question.answers.toArray %}
                                <li class="{{ answer.correct ? 'text-success' : '' }}">
                                    {{ answer.text.toNative }}
                                </li>
                            {% endfor %}
                        </ul>
                        <em>{{ question.feedback.toNative }}</em>
                        <h5><span class="badge badge-secondary">{{ question.id.toString }}</span></h5>
                    </td>
                    <td>
                        {{ question.year.toNative }}
                    </td>
                    <td>
                        {{ question.language.toNative }}
                    </td>
                    <td>
                        {{ question.category.name.toNative }}
                    </td>
                    <td>
                        <a role="button"
                           class="btn btn-light"
                           href="{{ path('questions_view_edit', {'id': question.id.toString}) }}" >
                            <span class="oi oi-pencil"></span>Aanpassen
                        </a>
                        <a role="button"
                           class="btn btn-light"
                           href="{{ path('questions_view_delete', {'id': question.id.toString}) }}">
                            <span class="oi oi-trash"></span>Verwijderen
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('js/dataTables.bootstrap4.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#questions').DataTable();
        } );
    </script>
{% endblock %}
