{% extends 'admin_base.html.twig' %}

{% block title %}VRAGEN{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/bootstrap-table.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}

    <a role="button"
       class="btn btn-light"
       href="{{ path('questions_view_add') }}" ><span class="oi oi-plus"></span>
        {% trans %}Toevoegen{% endtrans %}
    </a>

    <a role="button"
       class="btn btn-light"
       target="_blank"
       href="{{ path('questions_view_print') }}" ><span class="oi oi-print"></span>
        {% trans %}Afdrukken{% endtrans %}
    </a>

    <table class="table"
           data-toggle="table"
           data-search="true"
           data-page-size=5
           data-pagination="true"
           data-page-list="[5, 10, 25, 50]">
        <thead>
            <tr>
                <th>{% trans %}Foto{% endtrans %}</th>
                <th data-sortable="true">{% trans %}Vraag{% endtrans %}</th>
                <th data-sortable="true">{% trans %}Jaar{% endtrans %}</th>
                <th data-sortable="true">{% trans %}Taal{% endtrans %}</th>
                <th data-sortable="true">{% trans %}Thema{% endtrans %}</th>
                <th>{% trans %}Acties{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
                <tr>
                    <td>
                        <img src="{{ '/uploads/' ~ question.imageFileName.toNative }}"
                             width="200">
                    </td>
                    <td>
                        <strong>{{ question.text.toNative }}</strong>
                        <ul>
                            {% for answer in question.answers.toArray %}
                                <li class="{{ answer.correct ? 'text-success' : '' }}">
                                    {{ answer.text.toNative }}
                                </li>
                            {% endfor %}
                        </ul>
                        <em>{{ question.feedback.toNative }}</em>
                        <h5><span class="badge badge-secondary">{{ question.id.toString }}</span></h5>
                    </td>
                    <td>
                        {{ question.year.toNative }}
                    </td>
                    <td>
                        {{ question.language.toNative }}
                    </td>
                    <td>
                        {{ question.category.name.toNative }}
                    </td>
                    <td>
                        <a role="button"
                           class="btn btn-light"
                           href="{{ path('questions_view_edit', {'id': question.id.toString}) }}" >
                            <span class="oi oi-pencil"></span>{% trans %}Aanpassen{% endtrans %}
                        </a>
                        <a role="button"
                           class="btn btn-light"
                           href="{{ path('questions_view_delete', {'id': question.id.toString}) }}">
                            <span class="oi oi-trash"></span>{% trans %}Verwijderen{% endtrans %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bootstrap-table.js') }}"></script>
{% endblock %}
