{% extends 'admin_base.html.twig' %}

{% block title %}VRAGEN{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/bootstrap-table.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}

    <table class="table"
           data-toggle="table"
           data-search="true"
           data-pagination="true">
        <thead>
            <tr>
                <th data-sortable="true">#</th>
                <th data-sortable="true">Jaar</th>
                <th data-sortable="true">Taal</th>
                <th data-sortable="true">Thema</th>
                <th>Foto</th>
                <th>Vraag</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
                <tr>
                    <td style="white-space: nowrap;">
                        {{ question.id.toString }}
                    </td>
                    <td>
                        {{ question.year.toNative }}
                    </td>
                    <td>
                        {{ question.language.toNative }}
                    </td>
                    <td>
                        {{ question.category.name.toNative }}
                    </td>
                    <td>
                        <img src="{{ '/uploads/' ~ question.imageFileName.toNative }}"
                             width="200">
                    </td>
                    <td>
                        <strong>{{ question.text.toNative }}</strong>
                        <ul>
                            {% for answer in question.answers.toArray %}
                                <li class="{{ answer.correct ? 'text-success' : '' }}">
                                    {{ answer.text.toNative }}
                                </li>
                            {% endfor %}
                        </ul>
                        <em>{{ question.feedback.toNative }}</em>
                    </td>
                    <td>
                        <a role="button"
                           class="btn btn-light"
                           href="{{ path('questions_view_edit', {'id': question.id.toString}) }}" >
                            <span class="oi oi-pencil"></span>
                        </a>
                        <a role="button"
                           class="btn btn-light"
                           href="{{ path('questions_view_delete', {'id': question.id.toString}) }}">
                            <span class="oi oi-trash"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bootstrap-table.js') }}"></script>
{% endblock %}
