{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        #form {
            max-width: 576px;
        }

        ul.gvq-answers li:hover {
            cursor: pointer;
            background-color: lightcyan;
        }

        ul.gvq-answers li.selected-answer {
            list-style-type: '✔️';
        }

        ul.gvq-answers li.is-correct {
            color: green;
        }

        .gvq-countdown.finished {
            color: red;
        }

        .gvq-question-image {
            width: 50%;
            float: left;
        }

        .gvq-question-text,
        .gvq-answers,
        .gvq-question-feedback{
            width: 50%;
            float: right;
        }

        .gvq-next-question,
        .gvq-view-score {
            float: right;
            clear: both;
            display: none;
        }

        .gvq-quiz-old-view {
            pointer-events: none;
        }

        .gvq-answer-result.correct {
            color: green;
        }

        .gvq-answer-result.late,
        .gvq-answer-result.wrong {
            color: red;
        }

        .gvq-team-banner {
            height: 150px;
            width: 100%;
        }

        .gvq-team-banner img {
            height: 150px;
            width: 150px;
            margin: auto;
            display: block;
            background-color: white;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid">
    {{ form(form) }}

    <h2>Quiz</h2>
    <div id="gvq-quiz">
        <div class="gvq-team-banner"><img src="" alt=""></div>
        <div class="gvq-quiz-old-view"></div>
        <div class="gvq-quiz-view"></div>
        <div class="gvq-templates" data-language="nl" style="display: none;">
            <div data-template="participation-form">
                <select name="choose-team" id="choose-team">
                    <option value="" data-translate="CHOOSE_TEAM">Make a choice</option>
                </select>
                <input class="gvq-participant-email" placeholder="email">
                <button class="gvq-start-button" data-translate="START_QUIZ">Start the quiz</button>
            </div>

            <div data-template="ask-question">
                <div class="gvq-question-counter">
                    <span data-translate="QUESTION">Question</span> <span data-value="questionNr"></span>/15
                    <span class="gvq-countdown">
                        <span data-translate="TIME_LEFT">Time left</span>: <span class="gvq-time-left">40</span>
                    </span>
                </div>
                <div class="gvq-question-content">
                    <img class="gvq-question-image" src="">
                    <span class="gvq-question-text" data-value="questionText"></span>
                    <ul class="gvq-answers">
                        <li data-value="answer1"></li>
                        <li data-value="answer2"></li>
                        <li data-value="answer3"></li>
                    </ul>
                </div>
            </div>

            <div data-template="show-answer">
                <div class="gvq-question-counter">
                    <span data-translate="QUESTION">Question</span> <span data-value="questionNr"></span>/15
                </div>
                <div class="gvq-question-content">
                    <img class="gvq-question-image" src="">
                    <span class="gvq-question-text" data-value="questionText"></span>
                    <ul class="gvq-answers">
                        <li data-value="answer1"></li>
                        <li data-value="answer2"></li>
                        <li data-value="answer3"></li>
                    </ul>
                    <span class="gvq-question-feedback" data-value="feedback"></span>
                </div>
                <div>
                    <span class="gvq-answer-result correct" data-translate="ANSWERED_CORRECT">Correct</span>
                    <span class="gvq-answer-result wrong" data-translate="ANSWERED_WRONG">Wrong</span>
                    <span class="gvq-answer-result late" data-translate="ANSWERED_LATE">Too late</span>
                </div>
                <button class="gvq-next-question" data-translate="NEXT_QUESTION">Next question</button>
                <button class="gvq-view-score" data-translate="VIEW_SCORE">view score</button>
            </div>

            <div data-template="show-result">
                <span class="gvq-score">
                    <span data-translate="SCORE">Score</span>
                    <span class="right-answers" data-value="score"></span>/<span class="total-questions" data-value="totalQuestions"></span>
                </span>
                <button class="gvq-play-again" data-translate="PLAY_AGAIN">Play again</button>
            </div>
        </div>
    </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/quiz.js') }}"></script>
    <script>
        Quiz({{ quizConfig|json_encode|raw }});
    </script>
{% endblock %}
