{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/quiz.css') }}" rel="stylesheet"/>

{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div id="gvq-quiz">
            <div class="gvq-team-banner"><img src="" alt=""></div>
            <div class="gvq-quiz-old-view"></div>
            <div class="gvq-quiz-view"></div>
            <div class="gvq-templates" data-language="nl" style="display: none;">
                <div class="participation-form form border p-4" data-template="participation-form">
                    <div class="container">
                        <div class="form-group row">
                            <div class="col">
                                <select class="custom-select" name="choose-team" id="choose-team">
                                    <option value="" data-translate="CHOOSE_TEAM">Make a choice</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <input class="gvq-participant-email form-control" id="gvq-participant-email">
                            </div>
                            <div class="col-auto">
                                <button class="gvq-start-button btn btn-primary" data-translate="START_QUIZ">Start the
                                    quiz
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ask-question card" data-template="ask-question">
                    <div class="gvq-question-counter card-header">
                        <div class="row align-items-center">
                            <h2 class="col m-0"><span data-translate="QUESTION">Question</span> <span class="questionNr"
                                                                                                      data-value="questionNr"></span>/15
                            </h2>
                            <div class="gvq-countdown col-auto">
                                <span class="color-primary" data-translate="TIME_LEFT">Time left</span>
                                <span class="counter gvq-time-left">40</span>
                            </div>
                        </div>
                    </div>
                    <div class="gvq-question-content card-body">
                        <div class="row">
                            <figure class="col-sm-6 mb-3">
                                <img class="gvq-question-image" src="">
                            </figure>
                            <div class="gvq-question-text col-sm-6 mb-3">
                                <p class="text-dark h4" data-value="questionText"></p>
                                <ul class="gvq-answers list-group list-group-flush">
                                    <li class="list-group-item list-group-item-action" data-value="answer1"></li>
                                    <li class="list-group-item list-group-item-action" data-value="answer2"></li>
                                    <li class="list-group-item list-group-item-action" data-value="answer3"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="show-answer card" data-template="show-answer">
                    <div class="gvq-question-counter card-header">
                        <h2 class="m-0"><span data-translate="QUESTION">Question</span> <span class="questionNr"
                                                                                              data-value="questionNr"></span>/15
                            <span class="gvq-answer-result float-right badge badge-success correct"
                                  data-translate="ANSWERED_CORRECT">Correct</span>
                            <span class="gvq-answer-result float-right badge badge-danger wrong"
                                  data-translate="ANSWERED_WRONG">Wrong</span>
                            <span class="gvq-answer-result float-right badge badge-danger late"
                                  data-translate="ANSWERED_LATE">Too late</span>
                        </h2>
                    </div>

                    <div class="gvq-question-content card-body">
                        <div class="row">
                            <figure class="col-sm-6 mb-3">
                                <img class="gvq-question-image" src="">
                            </figure>
                            <div class="gvq-question-text col-sm-6 mb-3">
                                <p class="text-dark h4" data-value="questionText"></p>
                                <ul class="gvq-answers list-group list-group-flush">
                                    <li class="list-group-item list-group-item-action" data-value="answer1"></li>
                                    <li class="list-group-item list-group-item-action" data-value="answer2"></li>
                                    <li class="list-group-item list-group-item-action" data-value="answer3"></li>
                                </ul>
                            </div>
                            <div class="col-12">
                                <p class="gvq-question-feedback" data-value="feedback"></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="gvq-next-question btn btn-primary" data-translate="NEXT_QUESTION">Next question
                        </button>
                        <button class="gvq-view-score btn btn-primary" data-translate="VIEW_SCORE">view score</button>
                    </div>
                </div>

                <div class="show-result card" data-template="show-result">
                    <div class="gvq-question-counter card-header text-center">
                        <h2><span data-translate="SCORE">Score</span></h2>
                    </div>
                    <div class="card-body text-center">
                        <span class="gvq-score mb-4">
                            <span class="right-answers" data-value="score"></span>/<span class="total-questions"
                                                                                         data-value="totalQuestions"></span>
                        </span>

                        <div class="social border-top text-center p-4">
                            <h4>Goede of slechte score?</h4>
                            <p>Laat je vrienden weten hoe je het ervanaf bracht en daag ze uit om beter te doen!</h5>
                            <p>
                                <!-- Sharingbutton Facebook -->
                                <a class="btn btn-facebook text-white" href="https://facebook.com/sharer/sharer.php?u=http%3A%2F%2Fsgroteverkeersquiz.be" target="popup-1" aria-label="Delen op facebook" alt="Delen op facebook"
                                   onclick="window.open(this.href,'popup-1','width=450,height=450'); return false;"><span class="visually-hidden">Delen op facebook</span>
                                    <svg class="align-middle" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                        <path d="M12 0C5.38 0 0 5.38 0 12s5.38 12 12 12 12-5.38 12-12S18.62 0 12 0zm3.6 11.5h-2.1v7h-3v-7h-2v-2h2V8.34c0-1.1.35-2.82 2.65-2.82h2.35v2.3h-1.4c-.25 0-.6.13-.6.66V9.5h2.34l-.24 2z"/>
                                    </svg>
                                </a>

                                <!-- Sharingbutton Twitter -->
                                <a class="btn btn-twitter text-white" href="https://twitter.com/intent/tweet/?text=Ik%20deed%20mee%20aan%20de%20Verkeersquiz.%20Doe%20ook%20mee%20en%20kijk%20of%20je%20beter%20kan!&amp;url=http%3A%2F%2Fsgroteverkeersquiz.be" target="popup-2" aria-label="Delen op twitter" alt="Delen op twitter" onclick="window.open(this.href,'popup-2','width=450,height=450'); return false;"><span class="visually-hidden">Delen op twitter</span>
                                    <svg class="align-middle" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                        <path d="M12 0C5.38 0 0 5.38 0 12s5.38 12 12 12 12-5.38 12-12S18.62 0 12 0zm5.26 9.38v.34c0 3.48-2.64 7.5-7.48 7.5-1.48 0-2.87-.44-4.03-1.2 1.37.17 2.77-.2 3.9-1.08-1.16-.02-2.13-.78-2.46-1.83.38.1.8.07 1.17-.03-1.2-.24-2.1-1.3-2.1-2.58v-.05c.35.2.75.32 1.18.33-.7-.47-1.17-1.28-1.17-2.2 0-.47.13-.92.36-1.3C7.94 8.85 9.88 9.9 12.06 10c-.04-.2-.06-.4-.06-.6 0-1.46 1.18-2.63 2.63-2.63.76 0 1.44.3 1.92.82.6-.12 1.95-.27 1.95-.27-.35.53-.72 1.66-1.24 2.04z"/>
                                    </svg>
                                </a>
                            </p>
                        </div>

                    </div>
                    <div class="card-footer text-center">
                        <button class="gvq-play-again btn btn-primary btn-lg" data-translate="PLAY_AGAIN">Play again
                        </button>
                        <button class="gvq-play-contest btn btn-primary btn-lg" data-translate="PLAY_CONTEST"
                                style="display: none">Play
                            contest
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/quiz.js') }}"></script>
    <script>
        Quiz(Object.assign({teams: {{ teams|json_encode|raw }}}, getConfigFromUrlParameters()));

        function getConfigFromUrlParameters() {
            return decodeURIComponent(window.location.search.substring(1))
                    .split('&')
                    .reduce(function (config, urlParameter) {
                        let keyValue = urlParameter.split('=');
                        config[keyValue[0]] = keyValue[1];

                        return config;
                    }, {});
        }
    </script>
{% endblock %}
