<td>{{ counts['individual_nl']|number_format(2,',','') }}</td>
<td>{{ counts['individual_fr']|number_format(2,',','') }}</td>
<td>{{ counts['individual_total']|number_format(2,',','') }}</td>

<td>{{ counts['company_nl']|number_format(2,',','') }}</td>
<td>{{ counts['company_fr']|number_format(2,',','') }}</td>
<td>{{ counts['company_total']|number_format(2,',','') }}</td>

<td>{{ counts['partner_nl']|number_format(2,',','') }}</td>
<td>{{ counts['partner_fr']|number_format(2,',','') }}</td>
<td>{{ counts['partner_total']|number_format(2,',','') }}</td>

<td>{{ counts['quiz_total_nl']|number_format(2,',','') }}</td>
<td>{{ counts['quiz_total_fr']|number_format(2,',','') }}</td>
<td>{{ counts['quiz_total']|number_format(2,',','') }}</td>

<td>{{ counts['cup_nl']|number_format(2,',','') }}</td>
<td>{{ counts['cup_fr']|number_format(2,',','') }}</td>
<td>{{ counts['cup_total']|number_format(2,',','') }}</td>

<td>{{ counts['total_nl']|number_format(2,',','') }}</td>
<td>{{ counts['total_fr']|number_format(2,',','') }}</td>
<td>{{ counts['total']|number_format(2,',','') }}</td>
