<td>{{ counts['individual_nl'] }}</td>
<td>{{ counts['individual_fr'] }}</td>
<td>{{ counts['individual_total'] }}</td>

<td>{{ counts['company_nl'] }}</td>
<td>{{ counts['company_fr'] }}</td>
<td>{{ counts['company_total'] }}</td>

<td>{{ counts['partner_nl'] }}</td>
<td>{{ counts['partner_fr'] }}</td>
<td>{{ counts['partner_total'] }}</td>

<td>{{ counts['quiz_total_nl'] }}</td>
<td>{{ counts['quiz_total_fr'] }}</td>
<td>{{ counts['quiz_total'] }}</td>

<td>{{ counts['cup_nl'] }}</td>
<td>{{ counts['cup_fr'] }}</td>
<td>{{ counts['cup_total'] }}</td>

<td>{{ counts['total_nl'] }}</td>
<td>{{ counts['total_fr'] }}</td>
<td>{{ counts['total'] }}</td>
