{% extends 'authenticated_base.html.twig' %}

{% block title %}{% trans %}Dashboard{% endtrans %}{% endblock %}

{% block content %}

    <h1 class="page-title">{% trans %}Dashboard{% endtrans %}</h1>

    {% include '/includes/flash.html.twig' %}

    <h2>{{ activeCompany.name.toNative }}</h2>

    {% if companies|length > 1 %}
        <div class="form-group form-inline">
            <select class="form-control" id="company">
                {% for company in companies %}
                    <option value="{{ company.id.toString }}"
                            {% if activeCompany.id.equals(company.id) %}selected="selected"{% endif %}>{{ company.name.toNative }}</option>
                {% endfor %}
            </select>
            <a role="button"
               id="apply"
               class="btn btn-primary ml-3"
               href="{{ path('dashboard', {'companyId': activeCompany.id.toString}) }}">
                {% trans %}Button.apply{% endtrans %}
            </a>
        </div>
    {% endif %}

    <p>{% trans %}Dashboard.welcome{% endtrans %}</p>

    <div class="row justify-content-between">
        <div class="col-md-6 col-lg-4">
            <div class="card text-center mb-4">
                <div class="card-header">
                    <h3 class="card-title">{% trans %}Dashboard.ratio.title{% endtrans %}</h3>
                </div>
                <div class="card-body">
                    <h2>{{ employeeParticipationRatio.participationCount.toNative }}
                        / {{ employeeParticipationRatio.totalEmployees.toNative }}</h2>
                </div>
            </div>

            <div class="card text-center mb-4">
                <div class="card-header">
                    <h3 class="card-title">{% trans %}Dashboard.average.title{% endtrans %}</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 border-right">
                            <h3>{{ activeCompany.name.toNative }}</h3>
                            <h2>{{ companyAverage.toNative }}</h2>
                        </div>
                        <div class="col-6">
                            <h3>{% trans %}Dashboard.average.all{% endtrans %}</h3>
                            <h2>{{ average.toNative }}</h2>
                        </div>
                    </div>
                </div>
            </div>

            {% if topScores|length > 0 %}
                <div class="card text-center mb-4">
                    <div class="card-header">
                        <h3 class="card-title">{% trans %}Top.scores{% endtrans %}</h3>
                    </div>

                    <table class="card-body table">
                        <thead class="thead-dark thead-primary text-center">
                        <tr>
                            <th scope="col" class="border-right border-bottom">{% trans %}Rank{% endtrans %}</th>
                            <th scope="col" class="border-right border-bottom">{% trans %}Email{% endtrans %}</th>
                            <th scope="col" class="border-bottom">{% trans %}Score{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for topScore in topScores %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ topScore.email.toNative }}</td>
                                <td>{{ topScore.score.toNative }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="card-footer text-right">
                        <a role="button"
                           class="btn btn-primary"
                           href="{{ path('dashboard_export_topscores', {'companyId': activeCompany.id.toString}) }}"><span
                                    class="oi oi-data-transfer-download"></span>
                            {% trans %}Button.export{% endtrans %}
                        </a>
                    </div>
                </div>
            {% endif %}


        </div>
        <div class="col-md-6 col-lg-4">
            <!-- ADD SECOND COL CONTENT HERE -->
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#company').change(function () {
                var url = $("#apply").attr('href').slice(0, -36);
                url = url + $('#company').val();
                $("#apply").prop("href", url);
            });
        });
    </script>
{% endblock %}
