{% extends 'authenticated_base.html.twig' %}

{% block title %}{% trans %}Contact.edit.title{% endtrans %}{% endblock %}

{% block content %}
    <h1 class="page-title">{% trans %}Contact.edit.title{% endtrans %}</h1>

    {% include '/includes/flash.html.twig' %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="form-group">
        <div class="row">
            <div class="col-12">
                <label for="form_email">{% trans %}Email{% endtrans %}</label>
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
                {% if isOwnData == true %}
                <small id="form_email_help" class="form-text text-muted">{% trans %}
                        Field.login.warning{% endtrans %}</small>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-6">
                <label for="form_firstName">{% trans %}FirstName{% endtrans %}</label>
                {{ form_widget(form.firstName) }}
                {{ form_errors(form.firstName) }}
            </div>
            <div class="col-6">
                <label for="form_lastName">{% trans %}LastName{% endtrans %}</label>
                {{ form_widget(form.lastName) }}
                {{ form_errors(form.lastName) }}
            </div>
        </div>
    </div>

    <div class="form-group">
        <a role="button"
           class="btn btn-secondary"
           href="{{ path('dashboard') }}">{% trans %}Button.cancel{% endtrans %}
        </a>
        <button type="submit" class="btn btn-primary">{% trans %}User.add.submit{% endtrans %}</button>
    </div>
    {{ form_end(form) }}
{% endblock %}